<h2>File Structure</h2>
<p>
  The rails file structure is strange. Please be patient. You'll learn it in time.
</p>
<p>
  Note: The following has important sections bolded and underlined. The
  other sections can be largely ignored unless you have some specific need
  for them. <i>Not automatically made</i> means that a brand new rails 
  project will not contain this file. Some things were made to give
  you a starting point for the class.
</p>
<pre>
tcnj-rails-image/app
├── <b><mark>assets (Holds images, CSS, and javascript)</mark></b> 
│   ├── <mark><b>config</b></mark>
│   │   └── <mark><b>manifest.js (how to assemble the things in assets)</b></mark>
│   ├── <mark><b>images (any statically available images)</b></mark>
│   ├── <mark><b>javascripts</b></mark>
│   │   └── <mark><b>application.js (global javascript)</b></mark>
│   └── <mark><b>stylesheets</b></mark>
│       ├── <mark><b>application.scss (global css)</b></mark>
│       └── <mark><b>home.scss (controller specific css [not automatically made])</b></mark>
├── channels
│   └── application_cable
│       ├── README.md
│       ├── channel.rb
│       └── connection.rb
├── <mark><b>controllers (The C of MVC. Handles data manipulation and handling.)</mark></b>
│   ├── <mark><b>application_controller.rb (Superclass of all controllers)</mark></b>
│   ├── concerns
│   └── <mark><b>home_controller.rb (Controller for the home pages [not automatically made])</mark></b>
├── <mark><b>helpers (Any helper methods wanted inside of erb files)</b></mark>
│   ├── <mark><b>application_helper.rb (Superclass of all helpers</mark></b>
│   └── <mark><b>home_helper.rb (Helpers specific to views within the home folder [not automatically made])</mark></b>
├── javascript (this is webpack specific and will probably be ignored)
│   ├── channels
│   │   ├── consumer.js
│   │   └── index.js
│   └── packs
│       └── application.js
├── <mark><b>jobs (Workloads to be run in the background)</mark></b>
│   └── <mark><b>application_job.rb (Superclass of all jobs)</b></mark>
├── mailers
│   └── application_mailer.rb
├── <mark><b>models (The M of MVC, storing and representing information)</mark></b>
│   ├── <mark><b>app_config.rb (A model for strong global settings [not automatically made])</mark></b>
│   ├── <mark><b>application_record.rb (The superclass of all models)</mark></b>
│   ├── concerns
│   └── <mark><b>user.rb (A model representing a website user [not automatically made])</mark></b>
└── <mark><b>views (The V of MVC, defining how information is presented to a user)</mark></b>
    ├── <mark><b>home (Views for the home controller [not automatically made])</mark></b>
    │   ├── _erb.html.erb (A piece of the index page)
    │   ├── _filetree.html.erb (A piece of the index page)
    │   ├── _mvc.html.erb (A piece of the index page)
    │   └── <mark><b>index.html.erb (The webpage you're staring at)</mark></b>
    └── <mark><b>layouts (Special views that contain the common outside of all pages)</mark></b>
        ├── <mark><b>application.html.erb (The content displayed on <i>every</i></mark></b>
        ├── mailer.html.erb
        └── mailer.text.erb
</pre>
</p>
