<h2>The MVC Model of web development</h2>
<p>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/MVC-Process.svg/400px-MVC-Process.svg.png">
</p>
<p>
  <b>Model:</b> data organization<br>
  <b>View:</b> the presentation of information to the user<br>
  <b>Controller:</b> the manipulation and overseeing of information and access to it
</p>
<p>
  These three categories make up the design of practically every application,
  desktop or internet enabled. It's the seperation of these tasks that
  keeps an application easy to maintain, write, and read. Please make sure
  to understand these categories before working with rails. If you don't 
  recall seeing these terms before, check the class slides.
</p>
<p>
  For more information, see <a href="https://www.wikiwand.com/en/Model%E2%80%93view%E2%80%93controller">Wikipedia</a>.
</p>
