<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

h1 { text-align: center; }
<h1>Database</h1>

.btn {
	border: none;
	background-color: inherit;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
}

.gr {
	color: green;
}
.gr:hover {
	backgrounnd: #4CAF50;
	color: white;
}

.bl {
	color: dodgerblue;
}
.bl:hover {
	background: #2196F3;
	color: white;
}

.block {
	display: block;
	width: 200px;
}

.margin-auto {
	margin: 0 auto;
}

</style>

<pre>
</pre>
<button class="btn bl block margin-auto">
	<%= link_to "Return to Home", controller:"home" %>
</button>
</body>
</html>



